apiVersion: apps/v1
kind: Deployment
metadata:
  name: airdrop-java-deployment
  labels:
    app: airdrop-java
spec:
  replicas: 1
  selector:
    matchLabels:
      app: airdrop-java
  template:
    metadata:
      labels:
        app: airdrop-java
    spec:
      containers:
      - name: airdrop-java
        image: ghcr.io/starcoinorg/starcoin_airdrop_java:sha-44447d4
        ports:
        - containerPort: 8787
        env:
        - name: spring_profiles_active
          value: prod
        - name: SPRING_SECURITY_HTPASSWD
          valueFrom:
            secretKeyRef:
              name: http-basic-auth
              key: auth
        - name: STARCOIN_MYSQL_URL
          value: "jdbc:mysql://starcoin-db-2.c0bz9kehdvnb.ap-northeast-1.rds.amazonaws.com:3306/airdrop?useUnicode=true&characterEncoding=utf-8&serverTimezone=UTC"
        - name: STARCOIN_MYSQL_USER
          value: "starcoin"
        - name: STARCOIN_MYSQL_PWD
          valueFrom:
            secretKeyRef:
              name: mysql-pwd
              key: password
        - name: STARCOIN_NETWORK
          value: "main"
        - name: STARCOIN_JSON_RPC_URL
          value: "https://main-seed.starcoin.org"
#        - name: STARCOIN_SEEDS
#          value: "main4.seed.starcoin.org,main5.seed.starcoin.org"
        - name: STARCOIN_CHAIN_ID
          value: "1"
        - name: STARCOIN_ES_URL
          value: "search-starcoin-es2-47avtmhexhbg7qtynzebcnnu64.ap-northeast-1.es.amazonaws.com"
        - name: STARCOIN_ES_PROTOCOL
          value: "https"
        - name: STARCOIN_ES_PORT
          value: "443"
        - name: STARCOIN_ES_TXN_EVENT_IDX_PREFIX
          value: "main.0727"
        - name: STARCOIN_ES_USER
          value: elastic
        - name: STARCOIN_ES_PWD
          valueFrom:
            secretKeyRef:
              name: elasticsearch-pw-elastic
              key: password
        - name: STARCOIN_AIRDROP_OWNER_PK
          valueFrom:
            secretKeyRef:
              name: starcoin-airdrop-secret
              key: ownerpk

