apiVersion: apps/v1
kind: Deployment
metadata:
  name: airdrop-java-deployment-barnard
  labels:
    app: airdrop-java-barnard
spec:
  replicas: 1
  selector:
    matchLabels:
      app: airdrop-java-barnard
  template:
    metadata:
      labels:
        app: airdrop-java-barnard
    spec:
      containers:
      - name: airdrop-java-barnard
        image: ghcr.io/starcoinorg/starcoin_airdrop_java:sha-4603b53
        ports:
        - containerPort: 8787
        env:
        - name: spring_profiles_active
          value: barnard
        - name: FORMAT_MESSAGES_PATTERN_DISABLE_LOOKUPS
          value: "true"
        - name: SPRING_SECURITY_HTPASSWD
          valueFrom:
            secretKeyRef:
              name: http-basic-auth
              key: auth
        - name: STARCOIN_MYSQL_URL
          value: "jdbc:mysql://starcoin-db-2.c0bz9kehdvnb.ap-northeast-1.rds.amazonaws.com:3306/airdrop_barnard?useUnicode=true&characterEncoding=utf-8&serverTimezone=UTC"
        - name: STARCOIN_MYSQL_USER
          value: "starcoin"
        - name: STARCOIN_MYSQL_PWD
          valueFrom:
            secretKeyRef:
              name: mysql-pwd
              key: password
        - name: STARCOIN_NETWORK
          value: "barnard"
        - name: STARCOIN_JSON_RPC_URL
          value: "https://barnard-seed.starcoin.org"
        - name: STARCOIN_CHAIN_ID
          value: "251"
        - name: STARCOIN_ES_URL
          value: "search-starcoin-es2-47avtmhexhbg7qtynzebcnnu64.ap-northeast-1.es.amazonaws.com"
        - name: STARCOIN_ES_PROTOCOL
          value: "https"
        - name: STARCOIN_ES_PORT
          value: "443"
        - name: STARCOIN_ES_TXN_EVENT_IDX_PREFIX
          value: "barnard.0727"
        - name: STARCOIN_ES_USER
          value: elastic
        - name: STARCOIN_ES_PWD
          valueFrom:
            secretKeyRef:
              name: elasticsearch-pw-elastic
              key: password
        - name: STARCOIN_AIRDROP_OWNER_PK
          valueFrom:
            secretKeyRef:
              name: barnard-starcoin-airdrop-secret
              key: ownerpk

